{% extends "base.html" %}

{% block    content %}
<div ng-app="forms" ng-controller="Feedback.projectsController">

<style>
.badge.in:hover {
    background-color:blue;
}
.glyphicon.pull-right:hover {
    color:blue;
}
.glyphicon.pull-right {
    padding-left:0.25em;
}
</style>


<div class="page-header clearfix">
    <h4><span class="pull-left" ondblclick="location='import/'">Select Form</span>

        <div class="dropdown col-xs-1 pull-right">
            <button class="btn btn-default pull-right dropdown-toggle" type="button" data-toggle="dropdown" ng-bind="(status)?status:'All'"></button>
            <ul class="dropdown-menu" role="menu">
                <li><a role="menuitem" ng-click="status='Active'"   >Active</a></li>
                <li><a role="menuitem" ng-click="status='Expired'"  >Expired</a></li>
                <li><a role="menuitem" ng-click="status=''"         >All</a></li>
            </ul>
        </div>

        <div class="col-xs-4 pull-right">
            <div class="input-group">
                <span class="glyphicon glyphicon-search input-group-addon"></span>
                <input type="search" class="form-control" ng-model="search">
            </div>
        </div>

    </h4>
</div>


{% verbatim %}

<ul class="list-group">

        <li class="list-group-item" ng-repeat="project in data.projects | filter:search | filter:{ active: status }"  ng-if="project.writable" ng-cloak>
            <span _ng-show="project.writable">
                <span ng-if="project.active=='Expired'">*</span>
                <a href="{{project.id}}">
                    {{project.description}}
                </a>
                &emsp; {{project.expiry|date:"d-MMM-yyyy"}}
            </span>
        </li>
</ul>

{% endverbatim %}

</div> <!-- ng-app -->
{% endblock content %}


{% block script %}
<script src="/static/js/feedback/projects.js"></script>
{% endblock script %}

