{% extends "base.html" %}

{% block    content %}

<style>
a.answer        { text-decoration: none }
.type_label     { display: none }
.type_hidden    { display: none }
.type_readonly  { display: none }
</style>

<div class="page-header clearfix">
    <h4>
        <span class="pull-left">{{project.description}}</span>
    </h4>
</div>

<div>
Total feedbacks : {{feedbacks.paginator.count}}
</div>

<p>

<table class="table table-hover table-striped table-responsive table-bordered">


<thead>
<tr>

    <th class="feedback_date">
    </th>

    {% for q in project.questions_set.all %}


        <th class="type_{{q.answer_type}}">
            <span class="question-no">
            {{q.question_no}}</span>.
            <span class="question-text">{{q.question | striptags |truncatechars:100}}</span>
        </th>

    {% endfor %}

</tr>
</thead>



<tbody>
{% for feedback in feedbacks %}
    <tr>

        <td class="feedback_date">
            {{ feedback.timestamp }}
        </td>

        {% for answer in feedback.answers_set.all %}
            <td class="type_{{answer.question.answer_type}}">
                <a href="{{answer.id}}" class="answer">
                    {{ answer.answer }}
                </a>
            </td>
        {% endfor %}

    </tr>
{% endfor %}
</tbody>


</table>



<div class="pagination" style="width:100%">
    <div class="step-links text-center">
        {% if feedbacks.has_previous %}
            <a class="btn btn-primary pull-left" href="?page={{ feedbacks.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ feedbacks.number }} of {{ feedbacks.paginator.num_pages }}.
        </span>

        {% if feedbacks.has_next %}
            <a class="btn btn-primary pull-right" href="?page={{ feedbacks.next_page_number }}">next</a>
        {% endif %}
    </div>
</div>

{% endblock content %}

