{% extends "base.html" %}

{% block    content %}


<div class="page-header clearfix">
    <h4>
        <div>{{answer.project.description}}</div><br>

        <div class="pull-left">Q#{{answer.question.question_no}}. &nbsp; </div>
        <div class="pull-left">{{answer.question.question | safe}}</div>
    </h4>
</div>

<p>


<div class="alert-danger">
    {{ form.non_field_errors }}
    {{ form.errors }}
</div>


<form action="." method="post">

    <div class="form-group">
        <label>Current Answer</label>
        <textarea name="old_answer" class="form-control" rows="5" readonly>{{ answer.answer }}</textarea>
    </div>

    <div class="form-group">
        <label>Data Change Reason</label>
        <textarea name="reason" class="form-control" rows="5" required></textarea>
    </div>

    <div class="form-group">
        <label>New Answer</label>
        <textarea name="new_answer" class="form-control" rows="5" required></textarea>
    </div>


    <button type="submit" class="btn btn-primary">Save</button>


    {{form.answer.as_hidden}}
    {{form.user.as_hidden}}
    {% csrf_token %}

</form>



{% endblock content %}

