<!DOCTYPE html>
{% load staticfiles %}
<html class="no-js">
<head>


{% block    preblockhead %}
{% endblock preblockhead %}


{% block head %}

{% if nocache %}
<meta http-equiv="Cache-Control"    content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma"           content="no-cache" />
<meta http-equiv="Expires"          content="0" />
{% endif %}

<title>{{ title }}</title>
{% if description %}<meta name="description" content="{{ description }}">{% endif %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"  content="IE=edge,chrome=1">
<meta name="viewport"               content="width=device-width, initial-scale=1">

<link rel="shortcut icon"   href="{% static 'img/favicon.ico' %}" />
<link rel="stylesheet"      href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"      href="https://code.getmdl.io/1.2.1/material.brown-red.min.css">
<link rel="stylesheet"      href="/static/css/main.css">
<link rel="stylesheet"      href="/static/css/main.css">


<style>

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#fafafa;
}
.brand-logo {
    margin:1em;
}
.span-title {
    font-size: 1.25em;
    padding:   0.5em;
    margin-top:0.5em;
}

{% block    style %}
{% endblock style %}

</style>


{% endblock head %}


{% block    postblockhead %}
{% endblock postblockhead %}


</head>

<body>


{% block    preblockbody %}
{% endblock preblockbody %}


{% block body %}
<div class="container">

{% block    header %}

<div class="div-header text-center">

    <!-- user -->
    {% if user.is_authenticated %}
        <div class="btn dropdown pull-right">
            <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span>
                {{user}}
            </div>

            <ul class="dropdown-menu text-left">
                <li role="presentation"><a href="/logout/?app_name={{request.resolver_match.app_name}}">Logout</a></li>
                <li role="presentation"><a href="/password_change/">Change password</a></li>
            </ul>
        </div>
    {% endif %}

    <!-- title -->
    {% if title %}
    <span
        class="span-title label label-default nfo hidden-xs"
        style="padding:1em;display:inline-block;"
    >&nbsp; {{title}} &nbsp;
    </span>
    {% endif %}

    <!-- logo -->
    <a href="http://www.newcreation.org.sg/" title="New Creation Church">
        <img class="brand-logo pull-left" src="/static/img/logo.png">
    </a>

    <br clear="all">
</div>

{% endblock header %}


{% if messages %}
<ul class="messages alert alert-danger">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message | safe }}
    </li>
    {% endfor %}
</ul>
{% endif %}


{% block    content %}
{% endblock content %}


{% block    footer %}
{% endblock footer %}


{% block    js %}
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

<script src="/static/js/main.js"></script>
<script src="/static/js/directives.js"></script>
<!--
<script src="/static/js/services.js"></script>
<script src="/static/js/controllers.js"></script>
<script src="/static/js/filters.js"></script>
-->

<script>
angular.module("djangoData", [])
.value( "djangoData", {{angularData|default:'""'|safe}} )
.value( "frsc", "{{ frsc }}" )
</script>
{% endblock js %}


{% block    script %}
{% endblock script %}


</div>  <!-- container -->
{% endblock body %}


{% block    postblockbody %}
{% endblock postblockbody %}


</body>
</html>
