{% extends "base.html" %}

{% block content %}
<div class="well">

{% if project.closure_text %}
    {{project.closure_text|safe}}

{% else %}
    <p>Thank you for connecting with us.</p>

    <p>This feedback link is now closed.</p>

    <p>Have a blessed day!</p>

{% endif %}

</div>
{% endblock content %}


