<style>
div.checkbox.consent {
    padding-left:2em;
}
</style>
<div class="checkbox consent"><br>
    <input type="checkbox" name="Qconsent" required id="Q99999" ng-model="consent">
    <div class="consent">
        I agree to and accept the Privacy Policy and Terms of Use of this website.
        I consent that the personal information I provided in my capacity
        as a member of society, and other optional information I have chosen
        to provide such as my family details and photo(s) may be shared with
        others. My informationmay also be viewable on a limited and restricted basis on
        Internet sites. I may opt out of sharing my information or limit the
        optional information by duly informing the authorities.
    </div>
</div>
