{% extends "base.html" %}

{% block content %}


<div class="alert-danger padding-1">
    <br>
        {% if errmsg %}
            {{ errmsg }}

        {% else %}
            <p>Error: Duplicate value/answer for question:</p>

            {% if question %}
                {{ question.question|safe }}
            {% endif %}

        {% endif %}
    <br>
    &nbsp;
</div>
{% endblock content %}
