{% extends "base.html" %}

{% block    content %}
<style>
.show-all {
    color:silver;
}
</style>

<div>

<div class="page-header clearfix">
    <h3>
        <span class="pull-left">{{feedback.project.description}}</span>
        <a href="mailto:?subject={{feedback.project.description}}&body=http://{{request.META.HTTP_HOST}}{{request.path}}">
            <span class="glyphicon glyphicon-envelope pull-right" title="Send link by Email"></span>
        </a>
    </h3>
</div>

<p>

<table class="table table-hover table-striped table-responsive table-bordered">

<tbody>
{% for answer in answers %}
<tr class="small">
    <td class="col-xs-4">{{answer.question.question | striptags}}</td>
    <td>{{answer.answer}}</td>
</tr>
{% endfor %}
</tbody>


</table>


</div><!-- ng-app -->
{% endblock content %}


{% block    postblockbody %}
<!-- <script src="/static/js/feedback/formData.js"></script> -->
{% endblock postblockbody %}

