{% extends "base.html" %}

{% block    content %}
{% with feedbacks_count=project.feedbacks_set.all.count %}

<div ng-app="forms.FeedbackSummary" ng-controller="feedbackSummaryController as ctrl">

<div class="page-header clearfix">
    <h4>
        <span class="pull-left">{{project.description}}</span>
        <a href="csv?{{ request.META.QUERY_STRING }}" type="text/csv" download="feedbacks.csv">
            <span class="glyphicon glyphicon glyphicon-download-alt pull-right" title="CSV download all data"></span>
        </a>
    </h4>
</div>


<div>
    <button class="btn btn-default pull-right" ng-click="ctrl.refresh()"><span class="glyphicon glyphicon-refresh"></span></button>

    <div class="col-xs-3 pull-right margin-bottom-1">
        <div class="input-group">
            <span class="input-group-addon">To</span>
            <input class="form-control" ng-model="ctrl.dateTo" ng-init="django.dateTo" gn-date-picker>
        </div>
    </div>

    <div class="col-xs-3 pull-right">
        <div class="input-group">
            <span class="input-group-addon">From</span>
            <input class="form-control" ng-model="ctrl.dateFrom" gn-date-picker>
        </div>
    </div>

    <span class="pull-left">Feedbacks: {{project.feedbacks_set.all.count}}</span>
</div>

<p>


<table class="table table-hover table-striped table-responsive table-bordered">

<tbody>
{% for q in questions %}
<tr>
    <td class="col-xs-2"><span class="question-no">{{q.question_no}}</span>: <span class="question-text">{{q.question | striptags |truncatechars:100}}</span></td>

    <td class="col-xs-1 text-center">
        <iframe class='no-border'
            width="200"
            height="200"
            src='/forms/chart/{{q.pk}}/?width=300&height=300&header=0&margin_top=-90&margin_left=0&margin_bottom=0&margin_right=90&from={{date_from|date:"d-b-Y"}}&to={{date_to|date:"d-b-Y"}}'
            style="overflow:hidden"
            scrolling="no"
        ></iframe>
    </td>

    {% for type, data_count in q.counts %}
        <td class="col-xs-1">
            <div class="text-center small">{{ data_count }} ({% widthratio data_count feedbacks_count 100 %}%)</div>
            <span class="{{type}}">{{type}}</span>
        </td>
    {% endfor %}

</tr>
{% endfor %}
</tbody>


</table>

{% endwith %}

</div><!-- ng-app -->
{% endblock content %}


{% block    postblockbody %}
<script src="/static/js/feedback/feedback_summary.js"></script>
{% endblock postblockbody %}
