{% extends "base.html" %}

{% block    content %}
<style>
.show-all {
    color:silver;
}
</style>

<div ng-app="forms.FeedbackList" ng-controller="feedbackListController as ctrl">

<div class="page-header clearfix">
    <h4>
        <a href="csv?{{ request.META.QUERY_STRING }}" class="pull-right" type="text/csv" download="feedbacks.csv">
            <span class="glyphicon glyphicon glyphicon-download-alt color-initial" title="CSV download data"></span>
        </a>

        <span
            class="pull-right glyphicon glyphicon-filter color-initial padding-right"
            ng-click="toggleShowAll()"
            ng-class="{ 'show-all':showAll }"
            title="Multiple choice answers only"
        ></span>

        <span class="pull-left">{{project.description}}</span>
    </h4>
</div>

<div>

    <button class="btn btn-default pull-right" ng-click="ctrl.refresh()"><span class="glyphicon glyphicon-refresh"></span></button>

    <div class="col-xs-3 pull-right margin-bottom-1">
        <div class="input-group">
            <span class="input-group-addon">To</span>
            <input class="form-control" ng-model="ctrl.dateTo" ng-init="django.dateTo" gn-date-picker>
        </div>
    </div>

    <div class="col-xs-3 pull-right">
        <div class="input-group">
            <span class="input-group-addon">From</span>
            <input class="form-control" ng-model="ctrl.dateFrom" gn-date-picker>
        </div>
    </div>

    <span class="pull-left">Feedbacks: {{feedbacks.count}}</span>
</div>

<p>

<table class="table table-hover table-striped table-responsive table-bordered">

<thead>
<tr>
    <th>Time</th>
    {% for answer in feedbacks.0.answers %}
        <th {% if not answer.question.is_choice_type %}ng-show="showAll"{% endif %}>Q{{answer.question.question_no}}</th>
    {% endfor %}
</tr>
</thead>


<tbody>
{% for feedback in feedbacks%}
<tr class="small">
    <td>
        <a href="{% url 'forms:feedback_answers' feedback.pk %}">
            <span class="inline-block width-2em text-right padding-right">{{forloop.counter}}.</span>
            {{feedback.timestamp}}
        </a>
    </td>

    {% for answer in feedback.answers %}
        <td {% if not answer.question.is_choice_type %}ng-show="showAll"{% endif %}>
            {{answer.answer}}
        </td>
    {% endfor %}
</tr>
{% endfor %}
</tbody>


</table>



<div class="modal fade" id="myModal">
<div class="modal-dialog">
<div class="modal-content">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="chart-title"></h4>
    </div>

    <div class="modal-body text-center" id="chart-div">
    </div>

</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</div><!-- ng-app -->
{% endblock content %}


{% block    postblockbody %}
<script src="/static/js/feedback/feedback_list.js"></script>
{% endblock postblockbody %}
