{% extends "base.html" %}


{% block preblockhead %}
<style >
.icon-add-question  {
    margin-right:0.5em;
}
.dragover {
    border-top:double thick silver;
}
.well {
    margin-bottom: 4em !important;
}
label {
    color: dimgrey;
}
label.required {
    color: black;
}
</style >

{% endblock preblockhead %}



{% block    content %}
<div ng-app="forms" ng-controller="feedback.formEditCtrl as ctrl">



<!-- page-header -->
<div class="page-header">
{% verbatim %}
    <ol class="breadcrumb pull-left">
        <li>
            {% endverbatim %}<a href="{% url 'forms:project_list' %}">Forms</a>{% verbatim %}
        </li>
        <li class="active" ng-show="django.project.reference">
            {% endverbatim %}
            <a
                href="{% if project %}{% url "forms:questionnaire" project.reference %}{% endif %}"
                target="_blank"
            >
                <span class="span-case-no badge" ng-bind="django.project.reference"></span>
            </a>
            {% verbatim %}
        </li>
        <li class="active" ng-show="!django.project.reference">
            <span class="span-case-no badge">New</span>
        </li>
    </ol>
    <br clear="all">
{% endverbatim %}
</div>  <!-- page-header -->


<!-- form buttons -->
<div id="id_div_submit" class="pull-right" ng-hide="tab == 'questions'">

    <button
        form="form1"
        type="submit"
        class="btn btn-primary pull-right"
        ng-submit="submit()"
    >Save
    </button>

    <button
        ng-if="django.project.id"
        class="btn btn-danger pull-right"
        type="button"
        data-toggle="modal"
        data-target="#modal-delete"
        title="Delete questionnaire"
    >
        <span class="glyphicon glyphicon-minus-sign"></span>
    </button>
</div>



<!-- tabs -->
<ul ng-if ="django.project.reference" class="nav nav-pills pull-left" role="tablist">

    <li role="presentation" ng-class="{active: django.form_valid}">
        <a href="#id-pane-questions" data-toggle="tab" ng-click="changeTab('questions')">
            Questions
        </a>
    </li>

    <li role="presentation" ng-class="{active:!django.form_valid}">
        <a href="#id-pane-form-settings" data-toggle="tab" ng-click="changeTab('settings') ">
            Form Settings
        </a>
    </li>

</ul>


<!-- tab-content -->
<div class="tab-content">

    <!-- questions -->
    <div
        class="tab-pane"
        ng-if="django.project.reference"
        role="tabpanel"
        ng-class="{ 'fade in active':django.project.reference && django.form_valid }"
        id="id-pane-questions"
    >
        <ng-include src="'questions.html'"></ng-include>
    </div><!-- tab-pane -->


    <!-- form settings -->
    <div
        class="tab-pane fade {%if not project or not form_valid %}active fade in{% endif %}"
        role="tabpanel"
        id="id-pane-form-settings"
    >
        <form id="form1" role="form" method="post" action="{{ request.path }}" ng-submit="submit()">
            {% csrf_token %}
            <input type="hidden" name="created_by"  value="{{request.user.pk}}">

            <div>{{ form.non_field_errors }}</div>

            <br clear="all">
            <ng-include src="'formSettingsMain.html'"></ng-include>
            <ng-include src="'formSettingsPermission.html'"></ng-include>
            <ng-include src="'formSettingsTheme.html'"></ng-include>
            <ng-include src="'formSettingsPostSubmission.html'"></ng-include>
            <ng-include src="'formSettingsClosure.html'"></ng-include>
            <ng-include src="'formSettingsResponses.html'"></ng-include>
            <ng-include src="'formSettingsAdmin.html'"></ng-include>

        </form><!-- form1 -->
    </div><!-- tab-pane  -->

</div><!-- tab-content -->

<!----------------------------------------------->

<script type="text/ng-template" id="questions.html">
{% verbatim %}
<form name="form-reorder" id="form-reorder" method="post" action="reorder/">
    {% endverbatim %}{% csrf_token %}{% verbatim %}
    <input name="json_data" type="hidden">
    <br clear="all">


<!-- question panel header -->
<div class="panel panel-info">

<div class="panel-heading">
    <h5>
        {% endverbatim %}
        <a  href="{% if project %}{% url "forms:new_question" project.id %}{% endif %}"
            title="Add question"
        >
        {% verbatim %}
            <span
                class="glyphicon glyphicon-plus-sign icon-add-question pull-right"
                data-toggle="tooltip"
                data-placement="top"
                title="{{ ( django.questions.length == 0 ) ? 'Click here to add questions' : '' }}"
            ></span>
        </a>

        <span class="glyphicon pull-right padding">&nbsp;</span>

        <gn-copy-questions></gn-copy-questions>

        <span class="glyphicon pull-right padding">&nbsp;</span>

        <div ng-switch="reordering">
            <span
                ng-switch-when="false"
                class="glyphicon glyphicon-sort pull-right cursor-pointer"
                title="Re-order questions"
                ng-click="reorder(true)"
            ></span>

            <span class="pull-right" ng-switch-when="true">

                <span
                    class="cursor-pointer"
                    title="Done re-ordering"
                    ng-click="reorderDone(false)"
                >
                    <span class="glyphicon glyphicon-ok-sign text-success"></span>
                    Done Re-ordering
                </span>

                <span class="glyphicon padding1">&nbsp;</span>

                <span
                    class="cursor-pointer"
                    title="Cancel re-ordering mode"
                    ng-click="reorderCancel(false)"
                >
                    <span class="glyphicon glyphicon-remove-circle"></span>
                        Cancel Re-ordering
                </span>

            </span>
        </div>

        <span class="pull-left">{{django.project.description}}</span><br>
    </h5>
</div><!-- panel-heading -->


<!-- question panel body -->
  <div class="panel-body">

    <table class="table table-striped table-hover">
    <tr ng-repeat="question in django.questions">
        <td
            gn-drag-n-drop
            question_no="{{question.fields.question_no}}"
            question_idx="{{$index}}"
            ng-attr-draggable="{{draggable}}"
        >
            <span class="text-right inline-block width-2em">{{question.fields.question_no}}.</span>
            <span class="text-left inline-block width-4em">
                <span ng-if="question.fields.depends_on" title="{{question.fields.depends_value}}">
                    <span class="glyphicon glyphicon-chevron-left padding-left padding-right color-silver"></span>
                    <span >{{question.fields.depends_on}}</span>
                </span>
            </span>
            <a href="{{django.edit_question_url_prefix}}{{django.project.id}}/{{question.pk}}" draggable="false">
                {{question.fields.question | stripTags}}
            </a>
            <span class="pull-right">

                <span
                    ng-if="question.fields.validators"
                    class="glyphicon glyphicon-ok-circle"
                    ng-attr-title="{{ getValidatorNames(question) }}"
                ></span>

                <span
                    ng-if="question.fields.required"
                    title="Answer required"
                >*</span>

                <i
                    ng-if="question.fields.page_break"
                    class="ion-scissors"
                    title="Page break"
                ></i>

                <span
                    ng-if="question.fields.options"
                    class="glyphicon glyphicon-th-list"
                    title="Choices"
                ></span>

            </span>
        </td>
    </tr>
    </table>

  </div><!-- panel-body -->

</div><!-- panel-->

</form> <!-- form-reorder -->
{% endverbatim %}
</script>

<!----------------------------------------------->

<script type="text/ng-template" id="formSettingsMain.html">
<div class ="well">
    <div class="form-group">
        <label class="required">* Title</label>
        {{form.description.errors}}
        <input
            type="text"
            class="form-control"
            name="description"
            placeholder="Questionnaire title"
            required
            value="{{form.description.value|default:""}}"
        >
    </div>

    <div class="row">

        <div class="col-xs-6">

            <div class="form-group">
                <label class="required">* Reference</label>
                {{form.reference.errors}}
                <input
                    type="text"
                    class="form-control"
                    name="reference"
                    value="{{form.reference.value|default:""}}"
                    required
                    pattern="([\w-_])+"
                    placeholder="Form url reference (letters, numbers, hyphen, underscore)"
                    title="Letters, numbers, hyphen, and underscore only"
                >
            </div>

            <div class="form-group">
                <label>Expiry</label>
                {{form.expiry.errors}}
                <input
                    type="text"
                    class="form-control"
                    name="expiry"
                    value="{{form.expiry.value|default:""}}"
                    gn-date-picker
                >
            </div>

        </div><!-- col -->

        <div class="col-xs-6">
            <div class="form-group">
                <label>Email Notification</label>
                {{form.notify.errors}}
                <textarea
                    class="form-control"
                    name="notify"
                    placeholder="Email addresses to be notified for each form submission, one per line."
                    rows="4"
                    ng-blur="chkEmail()"
                >{{form.notify.value|default:""}}</textarea>
            </div>
        </div>

    </div><!-- row -->

    <!-- indemnity section -->
    <div class="row">

        <div class="col-xs-6">
            <div class="checkbox">
                <label>
                    <input
                        type="checkbox"
                        name="consent_page"
                        {% if form.consent_page.value %}checked{% endif %}
                    > Indemnity page
                </label>
                {{form.consent_page.errors}}
            </div>
        </div>

        <div class="col-xs-6">
            {% if project.id %}
                Created by:
                {% if project.created_by.get_full_name %}
                    {{ project.created_by.get_full_name }} ({{project.created_by|default:"unknown" }})
                {% else %}
                    {{ project.created_by|default:"unknown" }}
                {% endif %}
                &emsp; {{ project.created_date|date:"d-b-Y" }}
            {% endif %}
        </div>

    </div><!-- row -->
</div><!-- well -->
</script>

<!----------------------------------------------->

<script type="text/ng-template" id="formSettingsPermission.html">
<div class ="well">
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="required">* View Data</label>
                {{form.perms_read.errors}}
                <select name="perms_read" class="form-control" multiple="multiple" size="4">
                    {% verbatim %}
                    <option
                        ng-repeat="group in django.groups_read"
                        value="{{group[0]}}"
                        ng-selected="group[2]"
                        ng-bind="group[1]"
                    ></option>
                    {% endverbatim %}
                </select>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="form-group">
                <label class="required">* Edit Form</label>
                {{form.perms_write.errors}}
                <select name="perms_write" class="form-control" multiple="multiple" size="4">
                    {% verbatim %}
                    <option
                        ng-repeat="group in django.groups_write"
                        value="{{group[0]}}"
                        ng-selected="group[2]"
                        ng-bind="group[1]"
                    ></option>
                    {% endverbatim %}
                </select>
            </div>
        </div>
    </div><!-- row -->
</div><!-- well-->
</script>

<!----------------------------------------------->

<script type="text/ng-template" id="formSettingsTheme.html">
<div class ="well">
    <div class="row">
        <div class="col-xs-6">

            <div class="form-group">
                <label>
                    Theme &nbsp;
                    <a
                        title="View selected theme example"
                        ng-click="viewTheme( '{% url 'forms:questionnaire' 'test-theme' %}' )"
                    >
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                </label>
                {{form.template.errors}}
                <select
                    class="form-control"
                    name="template"
                >
                    {% for v, label in form.fields.template.choices %}
                        <option
                            value="{{v}}"
                            {% if form.template.value == v %}selected{% endif %}
                        >
                            {{label}}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label>
                    Accent Colour
                    &nbsp;
                    <a ng-click="showColorModal( 'color_accent', 'Accent Color' )">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </label>
                {{form.color_accent.errors}}
                <input
                    type="text"
                    class="form-control"
                    name="color_accent"
                    value="{{ form.color_accent.value|default:"" }}"
                >
            </div>

        </div><!-- col -->

        <div class="col-xs-6">

            <div class="form-group">
                <label>
                    Font Colour
                    &nbsp;
                    <a ng-click="showColorModal( 'color_font', 'Font Color' )">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </label>
                {{form.color_font.errors}}
                <input
                    type="text"
                    class="form-control"
                    name="color_font"
                    value="{{ form.color_font.value|default:"" }}"
                >
            </div>

            <div class="form-group">
                <label>
                    Question Font Colour
                    &nbsp;
                    <a ng-click="showColorModal( 'color_question', 'Question Font Color' )">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </label>
                {{form.color_question.errors}}
                <input
                    type="text"
                    class="form-control"
                    name="color_question"
                    value="{{ form.color_question.value|default:"" }}"
                >
            </div>

        </div><!-- col -->

    </div><!-- row -->
</div><!-- well -->
</script>

<!----------------------------------------------->

<script type="text/ng-template" id="formSettingsPostSubmission.html">
<div class ="well">
    <div class="form-group">
        <label>Post-submission URL</label>
        {{form.redirect_url.errors}}
        <input
            type="text"
            class="form-control"
            name="redirect_url"
            value="{{form.redirect_url.value|default:""}}"
            placeholder="URL to redirect to after form submission. e.g. https://newcreation.org.sg/..."
        >
    </div>

    <div class="form-group">
        <label>Post-submission Message</label>
        {{form.redirect_text.errors}}
        <textarea
            class="form-control"
            name="redirect_text"
            placeholder="Custom message to display after form submission (if no redirect URL)."
            rows="4"
            ng-non-bindable
        >{{form.redirect_text.value|default:""}}</textarea>
    </div>
</div><!-- well-->
</script>

<!----------------------------------------------->

<script type="text/ng-template" id="formSettingsClosure.html">
<div class ="well">
    <div class="form-group">
        <label>Closure URL</label>
        {{form.closure_url.errors}}
        <input
            type="text"
            class="form-control"
            name="closure_url"
            value="{{form.closure_url.value|default:""}}"
            placeholder="URL to redirect to after form expiry. e.g. https://newcreation.org.sg/..."
        >
    </div>

    <div class="form-group">
        <label>Closure Message</label>
        {{form.closure_text.errors}}
        <textarea
            class="form-control"
            name="closure_text"
            placeholder="Custom message to display after form expiry (if no redirect URL)."
            rows="4"
        >{{form.closure_text.value|default:""}}</textarea>
    </div>
</div><!-- well-->
</script>

<!----------------------------------------------->

<script type="text/ng-template" id="formSettingsResponses.html">
<div class ="well">
    <div class="form-group">
        <label>Maximum Responses</label>
        {{form.max_feedbacks.errors}}
        <input
            type="number"
            class="form-control"
            name="max_feedbacks"
            value="{{form.max_feedbacks.value|default:0}}"
            min="0"
        >
    </div>

    <div class="form-group">
        <label>Over quota URL</label>
        {{form.max_feedbacks_url.errors}}
        <textarea
            class="form-control"
            name="max_feedbacks_url"
            placeholder="URL to redirect if over quota. e.g. https://newcreation.org.sg/..."
            rows="4"
        >{{form.max_feedbacks_url.value|default:""}}</textarea>
    </div>

    <div class="form-group">
        <label>Over quota Message</label>
        {{form.max_feedbacks_text.errors}}
        <textarea
            class="form-control"
            name="max_feedbacks_text"
            placeholder="Custom over quota message to display (if over quota URL is blank)."
            rows="4"
        >{{form.max_feedbacks_text.value|default:""}}</textarea>
    </div>
</div><!-- well-->
</script>

<!----------------------------------------------->

<script type="text/ng-template" id="formSettingsAdmin.html">
{% if not user.is_superuser %}
    <input type="hidden" name="status" value="{{form.status.value|default:'0'}}">
{% else %}
    <div class ="well">

        <div class="form-group">
            <label>Status</label>
            {{form.status.errors}}
            <select
                class="form-control"
                name="status"
            >
                {% for value, label in form.fields.status.choices %}
                    <option
                        value="{{ value }}"
                        {% if form.status.value|slugify == value|slugify %} selected{% endif %}
                    >
                        {{ label }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label>Queue Name</label>
            {{form.queue.errors}}
            <input
                type="text"
                class="form-control"
                name="queue"
                value="{{form.queue.value|default:''}}"
            >
        </div>

        <div class="form-group">
            <label>Google Analytics Code</label>
            {{form.ga_code.errors}}
            <input
                type="text"
                class="form-control"
                name="ga_code"
                value="{{form.ga_code.value|default:''}}"
            >
        </div>

        <button
            class="btn btn-danger"
            type="button"
            data-toggle="modal"
            data-target="#modal-clear"
            title="Delete form data"
        >
            Delete Form Data
        </button>

    </div><!-- well-->
{% endif %}
</script>

<!----------------------------------------------->

<script type="text/ng-template" id="copyQuestions.html">
{% verbatim %}

<style>
.margin-top-0-5 {
    margin-top:-0.15em;
}
.weight-normal {
    font-weight:normal;
}
</style>

<span
    class="pull-right inline-block bigger margin-top-0-5"
    title="Copy questions"
    ng-click="copyQuestionsCtrl.copyQuestions()"
><i class="ion-ios7-copy"></i>
</span>

<div class="modal fade" id="modal-gn-copy-questions">
<div class="modal-dialog">
<div class="modal-content">

    <div class="modal-header bg-primary">
        <button
            type="button"
            class="close"
            data-dismiss="modal"
        >
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Select form to copy from</h4>
    </div>

    <div class="modal-body">
    {% endverbatim %}
    <form action="copyquestions/" method="post" id="form-gn-copy-questions">
    {% csrf_token %}
    {% verbatim %}

        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-search"></span>
            <input type="text" class="form-control" ng-model="copyQuestionsCtrl.filter">
        </div>
        <label class="weight-normal pull-right color-dimgrey">
            <input type="checkbox" ng-model="copyQuestionsCtrl.showDeleted">
            Include deleted
        </label>
        <br>
        <br>

        <ul class="list-group">
            <li
                class="list-group-item"
                ng-repeat="form in copyQuestionsCtrl.forms | filter:{description:copyQuestionsCtrl.filter} | orderBy:'description'"
                ng-if="form.id != django.project.id"
                ng-show="copyQuestionsCtrl.showDeleted || form.status > -1"
            >
                <input
                    type="radio"
                    id="radio_{{$index}}"
                    name="form_id"
                    ng-value="form.id"
                    ng-model="copyQuestionsCtrl.form_id"
                    ng-change="copyQuestionsCtrl.selectForm(form)"
                >
                <label for="radio_{{$index}}" ng-bind="form.description"></label>
            </li>
        </ul>

    </form>
    </div><!-- modal-body -->

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>

</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endverbatim %}
</script>

<!----------------------------------------------->

<gn-delete-confirmation
    csrfToken="{{csrf_token}}"
    title="Delete Form"
></gn-delete-confirmation>


<gn-delete-confirmation
    csrfToken="{{csrf_token}}"
    title="Delete Form Data"
    action="clear/"
    name="clear"
></gn-delete-confirmation>


<color-picker
    modal-title = "modalTitle"
    update      = "updateColor( color )"
></color-picker>

<!----------------------------------------------->

{% endblock content %}



{% block    postblockbody %}
<script src="/static/js/feedback/form_settings.js"></script>
<script src="/static/js/feedback/validators.js"></script>
<script src="/static/js/colors.js"></script>
<script src="/static/js/colorPicker.js"></script>

<script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip('show');
    });
</script>
{% endblock postblockbody %}

