{% extends "base.html" %}

{% block    content %}
<div ng-app="forms" ng-controller="Feedback.projectsController">

<style>
.badge.in:hover {
    background-color:blue;
}
.glyphicon.pull-right:hover {
    color:blue;
}
.glyphicon.pull-right {
    padding-left:0.25em;
}
.card {
    margin:1.5em 0;
    box-shadow:0.2em 0.2em 0.5em silver;
}
</style>


<div class="page-header clearfix">
    <h4>
        <span class="pull-left">
            <select
                class="form-control"
                ng-model="group"
                ng-change="groupFilterChanged()"
                ng-show="data.groups.length > 1"
            >
                <option value="">All Teams</option>
                <option
                    ng-repeat="g in data.groups track by g.group_id"
                    ng-bind="g.name"
                    ng-value="g.group_id"
                    ng-selected="g.group_id == group"
                >
            </select>
        </span>

        {% if perms.feedback.add_projects %}
            <a class="btn btn-primary btn-lg pull-right" href="newform/" title="New form"><span class="glyphicon glyphicon-plus-sign"></span></a>
        {% endif %}

        <div class="dropdown col-xs-1 pull-right"  ondblclick="location='import/'">
            <button class="btn btn-default pull-right dropdown-toggle" type="button" data-toggle="dropdown" ng-bind="(status)?status:'All'"></button>
            <ul class="dropdown-menu" role="menu">
                <li><a role="menuitem" ng-click="status='Active'"   >Active</a></li>
                <li><a role="menuitem" ng-click="status='Expired'"  >Expired</a></li>
                <li><a role="menuitem" ng-click="status=''"         >All</a></li>
            </ul>
        </div>

        <div class="col-xs-4 pull-right">
            <div class="input-group">
                <span class="glyphicon glyphicon-search input-group-addon"></span>
                <input type="search" class="form-control" ng-model="search">
            </div>
        </div>

    </h4>
</div>


{% verbatim %}

<ul class="list-group">

        <li
            class="list-group-item card"
            ng-repeat="project in data.projects
                | orderBy:data.orderBy
                | filter:search
                | filter:{ active: status }
                | filter: groupFilter"
            ng-if="project.writable || project.readable"
            ng-cloak
        >
            <h4>

                <span ng-if="project.active=='Expired'">*</span>

                <span ng-show="project.writable">
                    <a href="editform/{{project.id}}/">
                        <span class="glyphicon glyphicon-edit" title="Edit questionnaire"></span>
                    </a>&nbsp;
                    <a
                        href="editform/{{project.id}}/"
                        title="Edit questionnaire"
                        style="color:dimgrey; font-weight:bold;"
                        >{{project.description}}
                    </a>
                </span>

                <span ng-hide="project.writable">{{project.description}}</span>
                &emsp;
                <span class="small">{{project.expiry|date:"d-MMM-yyyy"}}</span>

            </h4>
                <a href="/forms/{{project.reference}}/"><span class="glyphicon glyphicon-play" title="View questionnaire"></span></a>&nbsp;
                <a
                    href="/forms/{{project.reference}}/"
                    title="{{(project.active=='Active')?'View questionnaire':'Expired'}}"
                >
                    {{ origin }}/forms/{{project.reference}}
                </a>
                &emsp;
                <span class="small">{{project.latest|date:"d-MMM-yyyy HH:mm"}}</span>
                &emsp;
                <span ng-if="project.readable && project.feedback_count > 0">
                    <a
                        href="data/{{project.id}}/list"
                        title="Data list"
                    >
                        <span class="badge in" style="margin-top:-0.5em;">{{project.feedback_count}}</span
                    ></a>

                    <a
                        href="data/{{project.id}}/summary"
                        title="Data summary"
                    >
                        <i class="icon ion-pie-graph" style="font-size:1.25em"></i>
                    </a>
                </span> <!-- ng-if="project.readable" -->
        </li>
</ul>

{% endverbatim %}

</div> <!-- ng-app -->
{% endblock content %}


{% block script %}
<script src="/static/js/feedback/projects.js"></script>
{% endblock script %}

