{% extends "base_mdl.html" %}




{% block header %}
{% endblock header %}


{% block    content %}
<style >
.import-card {
    width: 100%;
}
</style >

<br>
<br>

{% verbatim %}
<form name="form1" id="form1" method="post">
{% endverbatim %}
{% csrf_token %}

<div class="mdl-grid" ng-app="forms.import" ng-controller="importController as importCtrl">
<div class="mdl-layout-spacer"></div>
<div class="mdl-cell mdl-cell--3-col">

<gn-error-alert message="importCtrl.errorMessage"></gn-error-alert>

<div class="import-card mdl-card mdl-shadow--16dp">

    <div class="mdl-card__title mdl-color-text--grey-100 mdl-color--primary">
        <h2 class="mdl-card__title-text">Import Form</h2>
    </div>

    <div class="mdl-card__supporting-text">

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-textfield__label" for="id-field__host">Host</label>
                <input
                    id="id-field__host"
                    type="text"
                    class="mdl-textfield__input"
                    name="host"
                    ng-model="importCtrl.host"
                    size="100"
                >
            </div>

            <br>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-textfield__label" for="id-field__reference">Form Reference</label>
                <input
                    id="id-field__reference"
                    type="text"
                    class="mdl-textfield__input"
                    name="reference"
                    ng-model="importCtrl.reference"
                    size="100"
                >
            </div>

            <br>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-textfield__label" for="id-field__username">User Name</label>
                <input
                    id="id-field__username"
                    type="text"
                    class="mdl-textfield__input"
                    name="username"
                    ng-model="importCtrl.username"
                    size="100"
                >
            </div>

            <br>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-textfield__label" for="id-field__password">Password</label>
                <input
                    id="id-field__password"
                    type="password"
                    class="mdl-textfield__input"
                    name="password"
                    ng-model="importCtrl.password"
                    size="100"
                >
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-textfield__label" for="id-field__client_id">Client ID</label>
                <input
                    id="id-field__client_id"
                    type="text"
                    class="mdl-textfield__input"
                    name="client_id"
                    ng-model="importCtrl.client_id"
                    size="100"
                >
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-textfield__label" for="id-field__client_secret">client_secret</label>
                <input
                    id="id-field__client_secret"
                    type="text"
                    class="mdl-textfield__input"
                    name="client_secret"
                    ng-model="importCtrl.client_secret"
                    size="100"
                >
            </div>

            <input
                type="hidden"
                name="data"
                ng-value="importCtrl.data | json"
                >

    </div>

    <div class="mdl-card__actions mdl-card--border">
            <button
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                ng-disabled="importCtrl.imported"
                >Import
            </button>
    </div>
<!--
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
        </button>
    </div>
-->
</div>


</div>
<div class="mdl-layout-spacer"></div>
</div>

</form>

{% endblock content %}


{% block    postblockbody %}
<script src="/static/js/feedback/import.js"></script>
{% endblock postblockbody %}

