{% extends "base.html" %}

{% block content %}
<div class="alert-danger padding-1">

    {% if project.max_feedbacks_text %}
        {{project.max_feedbacks_text|safe}}

    {% else %}
        <p>Error: The maximum number of responses {% if answer %}({{  answer.answer }}){% endif %} has been reached.</p>

        <p>Thank you for connecting with us and have a blessed day!</p>

    {% endif %}

</div>
{% endblock content %}
