{% extends "base.html" %}

{% block content %}
<style>
.danger {
    background-color: #f2dede;
    background-image:none;
}
</style>

<div class="well {{msg_class}}">
{{message}} {% if value %}({{value}}){% endif %}
</div>
{% endblock content %}


