<html>
<body onload="document.forms[0].submit()">
<h3>Redirecting you to Paypal...</h3>

<div style="visibility:hidden">
{{ form.render }}
</div>

</body>
</html>

<!--
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
    <input id="id_business" name="business" type="hidden" value="events-facilitator@newcreation.org.sg" />
    <input id="id_amount" name="amount" type="hidden" value="10.00" />
    <input id="id_item_name" name="item_name" type="hidden" value="New Creation Church Gift of Love" />
    <input id="id_notify_url" name="notify_url" type="hidden" value="http//:ip-172-31-21-115.us-west-2.compute.internal/paypal/" />
    <input id="id_cancel_return" name="cancel_return" type="hidden" value="http://www.newcreation.org.sg" />
    <input id="id_return_url" name="return" type="hidden" value="http://www.newcreation.org.sg" />
    <input id="id_invoice" name="invoice" type="hidden" value="1440771020.0" />
    <input id="id_cmd" name="cmd" type="hidden" value="_xclick" />
    <input id="id_charset" name="charset" type="hidden" value="utf-8" />
    <input id="id_currency_code" name="currency_code" type="hidden" value="USD" />
    <input id="id_no_shipping" name="no_shipping" type="hidden" value="1" />
    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="Buy it Now" />
</form>
-->
