<br>
<div class="pdpa small well">

    <p>
        In accordance with the Singapore Personal Data Protection Act 2012 (PDPA),
        you may exercise your right to access, modify, and/or delete your registered
        records. Please refer to our Privacy Notice on our website at
        <a href="https://http://www.lipsum.com/" target="_blank"
        >http://www.lipsum.com/</a>. For enquiries,
        please write to the Data Protection Officer through
        email <a href="mailto:unknown@example.com" target="_blank">unknown@example.com</a>
        or at the following address at 51 Unknown Road, #09-01, Singapore 123456.
    </p>

    <ul style="padding-left:15px">
        <li><a href="https://http://www.lipsum.com/" target="_blank">Privacy Policy</a></li>
        <li><a href="https://http://www.lipsum.com/" target="_blank">Terms of Use</a></li>
    </ul>
</div>
