{% extends "base.html" %}
{% load nvd3_tags %}


{% block    postblockhead %}
    {% include_chart_jscss %}
    {% load_chart charttype chartdata "piechart_container" kw_extra %}

    <style>
        body { background-color:transparent; }
    </style>
{% endblock postblockhead %}



{% block preblockbody %}

    {% if not fullscreen %}
        <button
            class="btn-link btn-sm glyphicon glyphicon-fullscreen small padding"
            title="Fullscreen"
            onclick="fullscreen( {{question.pk}} );"
            style="position:fixed; text-decoration:none; margin-top:-0.9em;"
        ></button>
    {% endif %}

    {% if header == 1 %}
        <div class="text-center padding" style="width:{{width|add:"-25"}}px;">
            <h5 class="inline"><strong>{{question.question | striptags}}</strong></h5>
            <span class="glyphicon glyphicon-cog pull-right" data-toggle="modal" data-target="#settingsModal" ></span>
        </div>
    {% endif %}
    {% include_container "piechart_container" height width %}


<div class="modal fade" id="settingsModal">
<div class="modal-dialog">
<div class="modal-content">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Settings</h4>
    </div>

    <div class="modal-body">
        <form class="form-horizontal">
            <input type="hidden" name="f" value="1">

            <div class="form-group">
                <label for="inputCut" class="col-sm-2 control-label">Cut label at</label>
                <div class="col-sm-10">
                <input type="text" name="cut" class="form-control" id="inputCut">
                </div>
            </div>

            <div class="form-group">
                <label for="inputLength" class="col-sm-2 control-label">Label length</label>
                <div class="col-sm-10">
                <input type="number" name="length" class="form-control" id="inputLength" value="0" min="0">
                </div>
            </div>

            <div class="form-group">
                <label for="inputWidth" class="col-sm-2 control-label">Width</label>
                <div class="col-sm-10">
                <input type="number" name="width" class="form-control" id="inputWidth" value="{{width}}" min="350">
                </div>
            </div>

            <div class="form-group">
                <label for="inputHeight" class="col-sm-2 control-label">Height</label>
                <div class="col-sm-10">
                <input type="number" name="height" class="form-control" id="inputHeight" value="{{height}}" min="350">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Refresh</button>
                </div>
            </div>

        </form>
</div>

</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
function fullscreen(pk) {
    window.open( '{% url "forms:feedback_chart" %}' + pk + "/?f=1&width=800&height=800" );
    $("#myModal").modal('hide');
}
</script>

{% endblock preblockbody %}


{% block    header %}
{% endblock header %}

