{% extends "base.html" %}


{% block preblockhead %}
<style >
.mce-menubtn.mce-fixed-width span { width:initial !important; }
</style >
{% endblock preblockhead %}



{% block    content %}
<div ng-app="forms" ng-controller="feedback.questionEditCtrl as ctrl">


<!-- page-header -->
<div class="page-header">

    <ol class="breadcrumb pull-left">
        <li><a href="{% url 'forms:project_list' %}">Forms</a></li>
        <li><a href="{% url "forms:edit_project" project.pk %}">{{project.description}}</a></li>
        {% if question %}
        <li class="active"><span class="span-case-no badge">{{question.question_no}}</span></li>
        {% else %}
        <li class="active"><span class="span-case-no badge">New</span></li>
        {% endif %}
    </ol>

    <div class="pull-right">
        <button form="form1" type="submit" class="btn btn-primary pull-right" ng-click="submit();">Save</button>

        <button class="btn btn-danger pull-right" data-toggle="modal" data-target="#modal-delete" title="Delete questionnaire">
            <span class="glyphicon glyphicon-minus-sign"></span>
        </button>
    </div>
    <br><br>
</div>





<!-- form1 -->
<form id="form1" name="form1" role="form" method="post" action="{{request.path}}" ng-cloak>
    {% csrf_token %}
    <input type="hidden" name="project"     value="{{project.pk}}">
    <input type="hidden" name="question_no" value="{{form.question_no.value}}">

    <div>{{ form.non_field_errors }}</div>
    <div>{{ form.errors }}</div>

    <div class="row well">
    <div class="col-xs-12">


        <!-- question -->
        {% with field=form.question%}
        <div class="form-group" ng-cloak>
            <label>Question #{{form.question_no.value}}</label>
            <textarea
                class="form-control tinymce"
                name="{{field.html_name}}"
                placeholder="Question"
                rows="5"
                ng-required
            >{{field.value|default:""}}</textarea>
        </div>
        {{field.errors}}
        {% endwith %}


        <!-- answer_type-->
        {% with field=form.answer_type%}
        <gn-answer-type
            html_name="'{{field.html_name}}'"
            label="'{{field.label}}'"
            ctrl="ctrl"
            choices="django.answer_types"
            value="'{{field.value}}'"
        ></gn-answer-type>
        {{field.errors}}
        {% endwith %}


        <!-- Choice Type -->
        {% with field=form.choice_category %}
        <div class="form-group" ng-show="ctrl.showOptionsColumns" ng-cloak>
            <label>{{field.label}}</label>
            <select
                class="form-control"
                name="{{field.html_name}}"
                ng-model="ctrl.choiceCategory"
                ng-change="ctrl.choiceCategoryChanged()"
                ng-init="ctrl.choiceCategory='{{field.value|default:""}}'"
            >
                <option value="">Other</option>
                <option
                    ng-repeat="category in django.choiceCategories"
                    ng-value="category.pk"
                    ng-selected="category.pk == '{{field.value|default:""}}'"
                    ng-bind="category.fields.name"></option>
            </select>
        </div>
        {{field.errors}}
        {% endwith %}


        <!-- options -->
        {% with field=form.options %}
        <div class="form-group" ng-show="ctrl.optionsRequired" ng-cloak>
            <label>{{field.label}}</label>
            <textarea
                class="form-control"
                name="{{field.html_name}}"
                placeholder="Choices for multiple choice/answer question.  One choice per line."
                rows="5"
                ng-model="ctrl.options"
                ng-required="ctrl.optionsRequired"
                ng-init="ctrl.options='{{field.value | addslashes}}'"
            ></textarea>
        </div>
        {{field.errors}}
        {% endwith %}


        <!-- options_columns -->
        {% with field=form.options_columns %}
        <div class="form-group" ng-show="ctrl.showOptionsColumns" ng-cloak>
            <label>{{field.label}}</label>
            <select
                class="form-control"
                name="{{field.html_name}}"
                ng-model="ctrl.options_columns"
            >
                <option
                    ng-repeat="choice in django.options_columns"
                    ng-value="choice[0]"
                    ng-selected="choice[0] == django.question.options_columns"
                    ng-bind="choice[1]"></option>
            </select>
        </div>
        {{field.errors}}
        {% endwith %}


        <!-- min max -->
        <div class="row" ng-if="ctrl.showMinMax" ng-cloak>

            <!-- minimum -->
            {% with field=form.minimum %}
            <div class="col-xs-6">
                <div class="form-group">
                    <label>{{field.label}} <span ng-show="ctrl.answer_type=='text'">Length</span></label>
                    <input
                        type="number"
                        class="form-control"
                        name="{{field.html_name}}"
                        value="{{field.value|default:""}}"
                    >
                </div>
            {{field.errors}}
            {% endwith %}
            </div>


            <!-- maximum -->
            {% with field=form.maximum %}
            <div class="col-xs-6">
                <div class="form-group">
                    <label>{{field.label}} <span ng-show="ctrl.answer_type=='text'">Length</span></label>
                    <input
                        type="number"
                        class="form-control"
                        name="{{field.html_name}}"
                        value="{{field.value|default:""}}"
                    >
                </div>
            {{field.errors}}
            {% endwith %}
            </div>

        </div> <!-- row min max -->


        <!-- email options -->
        <div class="row" ng-if="ctrl.answer_type == 'email'" ng-cloak>
        <div class="col-xs-12">

            <!-- input email again -->
            {% with field=form.email_input_again %}
            <gn-checkbox
                html_name="'{{field.html_name}}'"
                checked="{{field.value|lower}}"
                label="'Retype email'"
            ></gn-checkbox>
            {{field.errors}}
            {% endwith %}


            <!-- Send confirmation -->
            {% with field=form.email_send_confirmation %}
            <div class="checkbox">
                <label>
                    <input
                        type="checkbox"
                        name="{{field.html_name}}"
                        ng-checked="{{field.value|lower}}"
                        ng-model="ctrl.email_send_confirmation"
                        ng-init="ctrl.email_send_confirmation={{field.value|lower}}"
                    > Send confirmation
                </label>
            </div>
            {{field.errors}}
            {% endwith %}

            <div ng-show="ctrl.email_send_confirmation" ng-cloak>

                <!-- email_from -->
                {% with field=form.email_from %}
                <div class="form-group">
                    <label>From</label>
                    <input
                        type="text"
                        class="form-control"
                        name="{{field.html_name}}"
                        value="{{field.value}}"
                    >
                </div>
                {% endwith %}

                <!-- email_cc -->
                {% with field=form.email_cc %}
                <div class="form-group">
                    <label>CC</label>
                    <input
                        type="text"
                        class="form-control"
                        name="{{field.html_name}}"
                        value="{{field.value | default:''}}"
                    >
                </div>
                {% endwith %}

                <!-- email_bcc -->
                {% with field=form.email_bcc %}
                <div class="form-group">
                    <label>BCC</label>
                    <input
                        type="text"
                        class="form-control"
                        name="{{field.html_name}}"
                        value="{{field.value | default:''}}"
                    >
                </div>
                {% endwith %}

                <!-- email_confirmation_text -->
                {% with field=form.email_confirmation_text %}
                <div class="form-group">
                    <label>Email confirmation text</label>
                    <textarea
                        class="form-control"
                        name="{{field.html_name}}"
                        rows="10"
                        {% verbatim %}
                        placeholder="Use {{'\{\{ answer.x \}\}'}} as answer placeholders where x = question number."
                        {% endverbatim %}
                        ng-model="ctrl.email_confirmation_text"
                        ng-required="ctrl.email_send_confirmation"
                        ng-init="ctrl.email_confirmation_text=ctrl.question.email_confirmation_text"
                    ></textarea>
                </div>
                {% endwith %}

            </div>
            {{field.errors}}

        </div> <!-- col -->
        </div> <!-- row email options -->


    </div> <!-- col -->
    </div> <!-- row well-->





    <div class="row well">
    <div class="col-xs-12">


        <!-- depends_on -->
        {% with field=form.depends_on choices=form.fields.depends_on.choices %}
        <div class="form-group">
            <label>{{field.label}}</label>
            <select
                class="form-control"
                name="{{field.html_name}}"
                ng-model="ctrl.depends_on"
                ng-init="ctrl.depends_on='{{field.value|default:""}}'"
            >
            {% verbatim %}
                <option></option>
                <option
                    ng-repeat="q in django.questions"
                    value="{{q.pk}}"
                    ng-selected="q.pk == ctrl.depends_on"
                    ng-bind="ctrl.stripTags( q.fields.question_no + '. ' + q.fields.question )"
                ></option>
            {% endverbatim %}
            </select>
        </div>
        {{field.errors}}
        {% endwith %}

        <!-- depends_value -->
        {% with field=form.depends_value %}
        <gn-depends-value
            html_name="'{{field.html_name}}'"
            label="'{{field.label}}'"
            ctrl="ctrl"
            questions="django.questions"
            value="'{{field.value|default:''}}'"
        ></gn-depends-value>
        {{field.errors}}
        {% endwith %}


    </div> <!-- col -->
    </div> <!-- row well-->





    <div class="row well">
    <div class="col-xs-12">


        <!-- required -->
        {% with field=form.required %}
        <gn-checkbox
            html_name="'{{field.html_name}}'"
            checked="{{field.value|lower}}"
            label="'Answer required field'"
        ></gn-checkbox>
        {{field.errors}}
        {% endwith %}

        <!-- page_break -->
        {% with field=form.page_break %}
        <gn-checkbox
            html_name="'{{field.html_name}}'"
            checked="{{field.value|lower}}"
            label="'Page break after question'"
        ></gn-checkbox>
        {{field.errors}}
        {% endwith %}

        <!-- unique -->
        {% with field=form.unique %}
        <div class="checkbox">
            <label>
                <input
                    type="checkbox"
                    name="{{field.html_name}}"
                    ng-checked="{{field.value|lower}}==true"
                    ng-model="ctrl.unique"
                    ng-init="ctrl.unique={{field.value|lower}}"
                > Unique answers
            </label>
        </div>
        {{field.errors}}
        {% endwith %}

        <!-- msg_err_unique -->
        {% with field=form.msg_err_unique %}
        <div class="form-group" ng-show="ctrl.unique">
            <label>{{field.label}}</label>
            <input
                type="text"
                class="form-control"
                name="{{field.html_name}}"
                value="{{field.value}}"
            >
        </div>
        {{field.errors}}
        {% endwith %}

        <div class="small pull-right color-lightgrey" ng-dblclick="showAdvanceOptions=true"><small>Advance options</small></div>

    </div> <!-- col -->
    </div> <!-- row well-->





    <div class="row" ng-show="showAdvanceOptions" ng-cloak>

    <!-- Column Widths -->
    <div class="col-xs-6 well">
        <div class="row">
            <div class="col-xs-12">
                <label title="Twitter Bootstrap Grid">
                    Column Widths
                    <a href="http://getbootstrap.com/css/#grid" target="_blank"><span class="glyphicon glyphicon-question-sign" /></a>
                </label>
                <input type="hidden" name="col_widths" ng-value="ctrl.col_widths">
            </div>

            <div class="col-xs-3">
                <span title="Phones (<768px)">x-small</span><br>
                <input class="text-center" type="number" min="1" max="12" ng-model="ctrl.widths[0]" ng-change="ctrl.widthChanged(0)">
            </div>

            <div class="col-xs-3">
                <span title="Tablets (>768px)">small</span><br>
                <input class="text-center" type="number" min="1" max="12" ng-model="ctrl.widths[1]" ng-change="ctrl.widthChanged(1)">
            </div>

            <div class="col-xs-3">
                <span title="Desktops (>992px)">medium</span><br>
                <input class="text-center" type="number" min="1" max="12" ng-model="ctrl.widths[2]" ng-change="ctrl.widthChanged(2)">
            </div>

            <div class="col-xs-3">
                <span title="Large screens (>1200px)">large</span><br>
                <input class="text-center" type="number" min="1" max="12" ng-model="ctrl.widths[3]" ng-change="ctrl.widthChanged(3)">
            </div>

            <div class="col-xs-12">
                <br>
                <label class="font-weight-normal"><input name="on_newline" type="checkbox" ng-checked="django.question.on_newline"> On new line</label>
            </div>

        </div><!-- row -->
    </div><!-- col > -->


    <!-- Column offsets -->
    <div class="col-xs-6 well">
        <div class="row">
            <div class="col-xs-12">
                <label>
                    Column Offsets
                    <a href="http://getbootstrap.com/css/#grid-offsetting" target="_blank"><span class="glyphicon glyphicon-question-sign" /></a>
                </label>
                <input type="hidden" name="col_offsets" ng-value="ctrl.col_offsets">
            </div>

            <div class="col-xs-3">
                x-small<br>
                <input class="text-center" type="number" min="0" max="11" ng-model="ctrl.offsets[0]" ng-change="ctrl.col_offsets=ctrl.offsets.join(',')">
            </div>

            <div class="col-xs-3">
                small<br>
                <input class="text-center" type="number" min="0" max="11" ng-model="ctrl.offsets[1]" ng-change="ctrl.col_offsets=ctrl.offsets.join(',')">
            </div>

            <div class="col-xs-3">
                medium<br>
                <input class="text-center" type="number" min="0" max="11" ng-model="ctrl.offsets[2]" ng-change="ctrl.col_offsets=ctrl.offsets.join(',')">
            </div>

            <div class="col-xs-3">
                large<br>
                <input class="text-center" type="number" min="0" max="11" ng-model="ctrl.offsets[3]" ng-change="ctrl.col_offsets=ctrl.offsets.join(',')">
            </div>

            <div class="col-xs-12 invisible">
                <br>
                <label class="font-weight-normal"><input type="checkbox"></label>
            </div>
        </div><!-- row -->
    </div><!-- col -->

    </div><!-- row -->





{% verbatim %}

<script type="text/ng-template" id="checkbox.html">
    <div class="checkbox">
        <label>
            <input
                type="checkbox"
                name="{{htmlName}}"
                ng-checked="checked==true"
            > {{label}}
        </label>
    </div>
</script>

<script type="text/ng-template" id="depends_value.html">
    <div class="form-group" ng-show="ctrl.depends_on">
        <label ng-bind="label"></label>
        <select
            class="form-control"
            name="{{htmlName}}"
            ng-required= "ctrl.depends_on"
        >
            <option></option>
            <option
                ng-repeat="option in questionsObj[ctrl.depends_on].fields.options|splitOptions"
                value="{{option}}"
                ng-selected="option == ctrl.depends_value"
                ng-bind="option"
            ></option>
        </select>
    </div>
</script>

<script type="text/ng-template" id="answer_type.html">
    <div class="form-group">
        <label ng-bind="label"></label>
        <select
            class="form-control"
            name="{{htmlName}}"
            ng-model="ctrl.answer_type"
            ng-change="answerTypeChanged()"
            required
        >
            <option
                ng-repeat="choice in choices"
                ng-value="choice[0]"
                ng-selected="choice[0] == ctrl.answer_type"
                ng-bind="choice[1]"></option>
        </select>
    </div>
</script>

{% endverbatim %}


</form>


<gn-delete-confirmation
    csrfToken="{{csrf_token}}"
    title="Delete Question"
    ></gn-delete-confirmation>


{% endblock content %}

{% block    postblockbody %}
<script src="/static/js/feedback/question.js"></script>
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>
tinymce.init({
    selector:   'textarea.tinymce',
    menubar :   false,
    statusbar:  false,
    resize:     "both",
    plugins:    "textcolor link image fullscreen hr",
    toolbar:    "styleselect alignleft aligncenter alignright alignjustify | " +
                "bullist numlist outdent indent | " +
                "fontselect fontsizeselect forecolor backcolor bold italic underline | " +
                "link image hr fullscreen",

});
</script>
{% endblock postblockbody %}

