<!DOCTYPE html>
{% load staticfiles %}
<html class="no-js">
<head>


{% block    preblockhead %}
{% endblock preblockhead %}


{% block head %}

{% if nocache %}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
{% endif %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
<title>{{ title }}</title>
{% if description %}<meta name="description" content="{{ description }}">{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" media="screen">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/main.css">

<style>
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#fafafa;
}
.brand-logo {
    margin:1em;
}
.questionnaire-title {
    font-weight:bold;
}
{% block    style %}
{% endblock style %}

</style>


{% endblock head %}


{% block    postblockhead %}
{% endblock postblockhead %}


</head>

<body>


{% block    preblockbody %}
{% endblock preblockbody %}


{% block body %}
<div class="container">

{% block    header %}

<div class="div-header text-center">
    {% if user.is_authenticated %}
        <div class="btn dropdown pull-right">
            <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span>
                {{user}}
            </div>

            <ul class="dropdown-menu text-left">
                <li role="presentation"><a href="/logout/?app_name={{request.resolver_match.app_name}}">Logout</a></li>
                <li role="presentation"><a href="/password_change/">Change password</a></li>
            </ul>
        </div>
    {% endif %}

    {% block img-logo %}
    <img class="brand-logo pull-left" src="/static/img/logo.png">
    {% endblock img-logo %}
    <br clear="all">
</div>

<h4 class="questionnaire-title">
    {{title}}
</h4>

{% endblock header %}


{% if messages %}
<ul class="messages alert alert-danger">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message | safe }}
    </li>
    {% endfor %}
</ul>
{% endif %}


{% block    content %}



{% block questionnaire_style_body %}
<style>
.animate-if {
}
.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition:all ease-in 0.5s;
     -moz-transition:all ease-in 0.5s;
       -o-transition:all ease-in 0.5s;
          transition:all ease-in 0.5s;
}
.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}
.animate-if.ng-enter.ng-enter-active,
.animate-if.ng-leave {
  opacity:1;
}

.question-label {
    background-color:transparent;
    border-color:transparent;
}
.question-div {
    background-color:white;
    padding-bottom:   1em;
    margin-bottom: 0.25em;
}
.panel-title {
    color: #19a9b2;
    font-size:16pt;
}
.minus-margin-top {
    margin-top:-1em !important;
}
.align-top {
    vertical-align:top;
}
.label--checkbox {
    max-width: 95%;
}
div.containerBreak {
    word-wrap: normal !important;
    overflow-wrap: normal !important;
    word-break: normal !important;
}
.disabled {
    text-decoration: line-through;
    color: lightgrey;
}
.no-bold {
    font-weight:normal;
}
.required-star {
    position: absolute;
    left: -0.25em;
}
.required-star-cb {
    position: absolute;
    margin-left: -0.5em;
}
</style>
{% endblock questionnaire_style_body %}


{% block    questionnaire_style_footer %}
{% endblock questionnaire_style_footer %}


{% verbatim %}
<form role="form" id="form1" name="form1" method="post" ng-app="ncc" ng-controller="feedback.questionnaireCtrl" novalidate>
<input type="hidden" name="project"         value="{{project.id}}">
<input type="hidden" name="feedback_pk"     value="">
{% endverbatim %}


{% block questionnaire_header %}
{% verbatim %}
<div class="row">
<div class="col-xs-12 xcol-lg-10 xcol-lg-offset-1">
    <!-- <h4 ng-bind="project.description"></h4> -->

    <!-- progress -->
    <div class="progress" ng-hide="pages.length==1">
        <div
            role="progressbar"
            class="progress-bar progress-bar-success progress-bar-striped"
            aria-valuenow="{{pageinfo.pct}}" aria-valuemin="0"
            aria-valuemax="100" style="width:{{pageinfo.pct}}%;"
        >
            <span ng-show="pageinfo.current_page<=pages.length && pageinfo.current_page>1">Page {{pageinfo.current_page}}/{{pages.length}}</span>
        </div>

        <span class="small" ng-show="pageinfo.current_page==1" ng-bind="'Page {{pageinfo.current_page}}/{{pages.length}}'"></span>
    </div><!-- progress -->

    <strong>
        <div
            class="alert margin"
            ng-class='{"alert-danger":errormsg.error}'
            ng-bind="errormsg.error"
            ng-show="errormsg.error"
        ></div>
    </strong>

</div><!-- col -->
</div><!-- row -->
{% endverbatim %}
{% endblock questionnaire_header %}





{% verbatim %}
<!-- nav-tabs -->
<ul id="page-tabs" class="nav nav-tabs" ng-show="debug" role="tablist">
    <li ng-repeat="_ in pages track by $index" ng-init="pageno=$index+1"><a ng-href="#page-{{pageno}}" role="tab" data-toggle="tab" ng-bind="{{pageno}}"></a></li>
    <li><a href="#page-consent" role="tab" data-toggle="tab" ng-cloak>Consent</a></li>
</ul>
{% endverbatim %}





<div class="row">
{% block div-content %}
<div class="div-content col-xs-12 xcol-md-10 xcol-md-offset-1 xcol-lg-8 xcol-lg-offset-2">
{% endblock div-content %}
<div class="tab-content">



    {% verbatim %}
    <div class="tab-pane fade" ng-repeat="page in pages track by $index" ng-init="pageno=$index+1" ng-class="{'active':$first, 'in':$first}" id="page-{{pageno}}">
    {% endverbatim %}

    {% block questionnaire_page %}

        <div
            ng-repeat="question in page track by $index"
            ng-init="qno=question.fields.question_no;"
        >

        {% block questionnaire_question %}
            <br clear="all" ng-show="question.fields.on_newline">

            {% verbatim %}
            <div
                ng-if="!question.hide"
                class="
                    animate-if
                    no-padding
                    col-xs-{{question.widths[0]}}
                    col-sm-{{question.widths[1]}}
                    col-md-{{question.widths[2]}}
                    col-lg-{{question.widths[3]}}
                    col-xs-offset-{{question.offsets[0]}}
                    col-sm-offset-{{question.offsets[1]}}
                    col-md-offset-{{question.offsets[2]}}
                    col-lg-offset-{{question.offsets[3]}}
                    div-question--{{question.fields.answer_type}}
                "
            >
            {% endverbatim %}

                <!-- page questions -->
                <div
                    class="question-div padding-horizontal no-margin-bottom panel"
                    ng-class="{'question-required':question.fields.required, 'question-label':question.fields.answer_type=='label'}"
                >
                    <div ng-include="'panelContents.html'"></div>

                </div><!-- class="panel" -->

            </div><!-- col -->
        {% endblock questionnaire_question %}

        </div><!-- question in page -->



        {% block questionnaire_footer %}
        <!-- pager -->
        {% verbatim %}
        <ul class="pager">
            <li class="previous" ng-hide="$first">
                <a href="#" gn-go-prev class="margin-top">
                    <span class="glyphicon glyphicon-chevron-left"></span> Previous
                </a>
            </li>

            <li class="next" ng-if="project.consent_page || ( !project.consent_page && pageinfo.current_page < pages.length )" ng-show="!submitted">
                <a href="#" gn-go-next current-page="{{$index}}" class="margin-top">
                    Next <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </li>

            <li class="next" ng-if="!project.consent_page && pageinfo.current_page == pages.length">
                <div class="text-center">
                    <a class="btn btn-success submit-button1" href="#" gn-go-next current-page="{{$index}}" ng-show="!submitted">Submit</a>
                </div>
            </li>
        </ul>
        {% endverbatim %}
        {% endblock questionnaire_footer %}

    {% endblock questionnaire_page %}
    </div><!-- tab-pane ngrepeat="page in pages" -->



    <!-- consent page -->
    <div class="tab-pane fade" id="page-consent" ng-if="project.consent_page">

    {% block questionnaire_consent %}

        <div class="well">
            {% include "consent.html" %}

            <div class="text-center">
                <button
                    class="btn btn-success submit-button2"
                    id="btn-submit"
                    type="button"
                    gn-consent-chk
                    ng-show="consent && !submitted"
                    onclick='$("#spinner").css( "display", "block" )'
                >Submit</button>
            </div>
        </div><!-- well -->

        {% include "pdpa.html" %}
        <p></p>

        {% block questionnaire_consent_footer %}
            <ul class="pager text-center">
                <li class="previous">
                    <a href="#" gn-go-prev>
                        <span class="glyphicon glyphicon-chevron-left"></span> Previous
                    </a>
                </li>

                <li class="next invisible"><a href="#">Next &rarr;</a></li>
            </ul>
        {% endblock questionnaire_consent_footer %}


    {% endblock questionnaire_consent %}

    </div><!-- tab-pane page-consent -->



</div><!-- tab-content -->
</div><!-- col -->
</div><!-- row -->


<button id="btn-submit-hidden" type="submit" class="btn btn-primary invisible"></button>

{% if not project.queue %}
    {% csrf_token %}
{% else %}
    <input type="hidden" name="csrfmiddlewaretoken" ng-model="csrfmiddlewaretoken">
{% endif %}
<br>


<div id="debug" class="invisible"></div>


{% verbatim %}
<script type="text/ng-template" id="panelContents.html">

    <input type="hidden" name="Q{{qno}}_validators" value="{{question.validators}}" data-qno="{{qno}}">

    <div class="alert alert-danger no-margin margin-bottom" ng-bind="question.error" ng-show="question.error"></div>

    <div
        ng-switch="question.fields.answer_type"
        class="padding-bottom-1 question-container"
        ng-class="'question-container--' + question.fields.answer_type"
        ng-hide="question.fields.answer_type=='hidden'"
    >


        <!-- hidden -->
        <input ng-switch-when="hidden"
            type="hidden"
            name="Q{{qno}}"
            id="Q{{qno}}"
            value="{{question.initial}}"
            data-qno="{{qno}}"
        >


        <!-- label -->
        <div class="panel-title minus-margin-top" ng-switch-when="label">
                <h4 ng-bind-html="question.fields.question | unsafe"></h4>
        </div>


        <!-- checkbox -->
        <div class="panel-heading no-margin no-padding panel-heading--checkbox" ng-switch-when="checkbox">
            <gn-err-msg question="question"></gn-err-msg>
            <input
                type="checkbox"
                name="Q{{qno}}"
                id="Q{{qno}}"
                value="Yes"
                class="align-top margin-right"
                data-qno="{{qno}}"
                ng-required="question.fields.required"
                ng-model="answers[qno]"
                gn-answer-changed="qno"
            >
            <label for="Q{{qno}}" class="label--checkbox">
                <h3 class="panel-title">
                    <span class="pull-left" ng-if="question.fields.required">*&thinsp;</span>
                    <span class="pull-left" ng-bind-html="question.fields.question | unsafe"></span>
                </h3>
            </label>
        </div><!-- checkbox -->

        &nbsp;

        <div ng-switch-default>


            <div class="panel-heading no-margin no-padding">
                <gn-err-msg question="question"></gn-err-msg>

                <h3 class="panel-title">
                    <span class="required-star" ng-if="question.fields.required">*</span>
                    <span ng-bind-html="question.fields.question | unsafe"></span>
                </h3>
            </div>

            <div class="panel-body no-margin no-padding" ng-switch="question.fields.answer_type">


                    <!-- readonly -->
                    <input ng-switch-when="readonly"
                        type="text"
                        name="Q{{qno}}"
                        class="form-control"
                        id="Q{{qno}}"
                        value="{{question.initial}}"
                        data-qno="{{qno}}"
                        readonly
                    >


                    <!-- text -->
                    <input ng-switch-when="text"
                        type="text"
                        name="Q{{qno}}"
                        class="form-control"
                        id="Q{{qno}}"
                        value="{{question.initial}}"
                        data-qno="{{qno}}"
                        ng-required="question.fields.required"
                        ng-model="answers[qno]"
                    >


                    <!-- email -->
                    <div ng-switch-when="email">
                        <input
                            type="text"
                            name="Q{{qno}}"
                            class="form-control"
                            id="Q{{qno}}"
                            data-qno="{{qno}}"
                            ng-required="question.fields.required"
                            ng-model="answers[qno]"
                            ng-init="answers[qno]=question.initial"
                        >
                        <div ng-if="question.fields.email_input_again">
                            <br>
                            <label><h3 class="panel-title">Re-enter email address</h3></label>
                            <input
                                type="text"
                                class="form-control"
                                ng-model="answersEmailConfirm[qno]"
                                ng-init="answersEmailConfirm[qno]=question.initial"
                            >
                        </div>
                        <div ng-if="question.fields.email_send_confirmation">
                            <input
                                type="hidden"
                                name="email_send_confirmation"
                                value="{{question.fields.question_no}}"
                            >
                        </div>
                    </div>


                    <!-- id -->
                    <div ng-switch-when="id">
                        <h3 class="panel-title">
                            <label class="label--id no-bold small">
                                <input
                                    type="radio"
                                    name="Q{{qno}}_idType"
                                    value="nric"
                                    ng-model="answers[qno+'_idType']"
                                    ng-init ="answers[qno+'_idType']='nric'"
                                > NRIC/FIN
                            </label>
                            &emsp;
                            <label class="label--id no-bold small">
                                <input
                                    type="radio"
                                    name="Q{{qno}}_idType"
                                    value="passport"
                                    ng-model="answers[qno+'_idType']"
                                > Passport</h3>
                            </label>
                        </h3>
                        <input
                            type="text"
                            name="Q{{qno}}"
                            class="form-control"
                            id="Q{{qno}}"
                            value="{{question.initial}}"
                            data-qno="{{qno}}"
                            ng-required="question.fields.required"
                            ng-model="answers[qno]"
                        >
                    </div>


                    <!-- nric -->
                    <input ng-switch-when="nric"
                        type="text"
                        name="Q{{qno}}"
                        class="form-control"
                        id="Q{{qno}}"
                        value="{{question.initial}}"
                        data-qno="{{qno}}"
                        ng-required="question.fields.required"
                        ng-model="answers[qno]"
                    >


                    <!-- number -->
                    <input ng-switch-when="number"
                        type="number"
                        step="0.01"
                        min="{{question.fields.minimum}}"
                        max="{{question.fields.maximum}}"
                        name="Q{{qno}}"
                        class="form-control"
                        id="Q{{qno}}"
                        value="{{question.initial}}"
                        data-qno="{{qno}}"
                        ng-required="question.fields.required"
                        ng-model="answers[qno]"
                        gn-answer-changed-number="qno"
                    >


                    <!-- paypal -->
                    <div ng-switch-when="paypal">
                        <input
                            type="number"
                            step="0.01"
                            min="{{question.fields.minimum}}"
                            max="{{question.fields.maximum}}"
                            name="Q{{qno}}"
                            class="form-control"
                            id="Q{{qno}}"
                            value="{{question.initial}}"
                            data-qno="{{qno}}"
                            ng-required="question.fields.required"
                            ng-model="answers[qno]"
                            gn-answer-changed-number="qno"
                        >
                        <input
                            type="hidden"
                            name="_paypal"
                            value="Q{{qno}}"
                        >
                    </div>


                    <!-- month -->
                    <input ng-switch-when="month"
                        type="text"
                        name="Q{{qno}}"
                        class="form-control"
                        id="Q{{qno}}"
                        value="{{question.initial}}"
                        data-qno="{{qno}}"
                        ng-required="question.fields.required"
                        ng-model="answers[qno]"
                        gn-month-picker
                    >


                    <!-- date -->
                    <input ng-switch-when="date"
                        type="text"
                        name="Q{{qno}}"
                        class="form-control"
                        id="Q{{qno}}"
                        value="{{question.initial}}"
                        data-qno="{{qno}}"
                        ng-required="question.fields.required"
                        ng-model="answers[qno]"
                        gn-date-picker
                    >


                    <!-- radio -->
                    <div ng-switch-when="radio">

                        <div ng-switch="question.fields.options_columns">

                            <!-- select input -->
                            <div ng-switch-when="-1">
                                <select
                                    class="form-control"
                                    name="Q{{qno}}"
                                    id="Q{{qno}}"
                                    data-qno="{{qno}}"
                                    ng-required="question.fields.required"
                                    ng-model="answers[qno]"
                                    gn-answer-changed="qno"
                                >
                                    <option value="">--- Select an option ---</option>
                                    <option ng-repeat="option in question.fields.options|nonBlanks track by $index" ng-value="option" ng-bind="option"></option>
                                </select>
                            </div><!-- ng-switch-when==-1 -->

                            <!-- radio input -->
                            <div ng-switch-default>
                                <div ng-repeat="option in question.fields.options|nonBlanks track by $index" class="col-xs-{{question.fields.options_columns}}">
                                    <label class="font-weight-normal">
                                        <input
                                            type="radio"
                                            name="Q{{qno}}"
                                            id="Q{{qno}}optionsRadios{{$index}}"
                                            value="{{option}}"
                                            data-qno="{{qno}}"
                                            ng-required="question.fields.required"
                                            ng-model="answers[qno]"
                                            gn-answer-changed="qno"
                                        >
                                        <span>{{option}}</span>
                                    </label>
                                </div><!-- ng-repeat -->
                            </div><!-- ng-switch-default -->

                        </div><!-- ng-switch=question.fields.options_columns -->

                    </div><!-- ng-switch-when=radio -->


                    <!-- multicheckbox -->
                    <div ng-switch-when="multicheckbox">

                        <div ng-switch="question.fields.options_columns">

                            <!-- select input -->
                            <div ng-switch-when="-1">
                                <select
                                    multiple="multiple"
                                    size="3"
                                    class="form-control"
                                    name="Q{{qno}}"
                                    id="Q{{qno}}"
                                    data-qno="{{qno}}"
                                    ng-required="question.fields.required"
                                    ng-model="answers[qno]"
                                    gn-answer-changed="qno"
                                >
                                    <option value="">--- Select an option ---</option>
                                    <option ng-repeat="option in question.fields.options|nonBlanks track by $index" ng-value="option" ng-bind="option"></option>
                                </select>
                            </div><!-- ng-switch-when=-1 -->

                            <!-- radio input -->
                            <div ng-switch-default>
                                <div ng-repeat="option in question.fields.options|nonBlanks track by $index" class="col-xs-{{question.fields.options_columns}}">
                                    <label class="font-weight-normal">
                                        <input
                                            type="checkbox"
                                            name="Q{{qno}}"
                                            id="Q{{qno}}optionsCheckboxes{{$index}}"
                                            value="{{option}}"
                                            data-qno="{{qno}}"
                                            ng-value-true="{{option}}"
                                            ng-attr-inputrequired="{{question.fields.required}}"
                                            ng-attr-answertype="{{question.fields.answer_type}}"
                                            ng-model="answers[qno+'-'+$index]"
                                            gn-answer-changed-multi-checkbox="qno"
                                        >
                                        {{option}}
                                    </label>
                                </div><!-- ng-repeat -->
                            </div><!-- ng-switch-default -->

                        </div><!-- ng-switch=question.fields.options_columns -->

                    </div><!-- ng-switch-when=multicheckbox -->


                    <!-- textarea -->
                    <textarea ng-switch-when="textarea"
                        name="Q{{qno}}"
                        class="form-control"
                        id="Q{{qno}}"
                        rows="5"
                        data-qno="{{qno}}"
                        ng-required="question.fields.required"
                        ng-model="answers[qno]"
                    ></textarea>


                    <!-- <div ng-show="question.fields.required" class="small">Answer required</div> -->

            </div><!-- class="panel-body" -->

        </div><!-- ng-switch-default -->

    </div><!-- ng-switch -->
</script>

</form><! -- ng-controller -->

{% endverbatim %}


{% if ga_code %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', '{{ ga_code }}', 'auto'); ga('send', 'pageview');
</script>
{% endif %}



{% endblock content %}


{% block    footer %}
{% endblock footer %}


{% block    js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/directives.js"></script>
<!--
<script src="/static/js/services.js"></script>
<script src="/static/js/controllers.js"></script>
<script src="/static/js/filters.js"></script>
-->
<script>
angular.module("djangoData", [])
.value( "djangoData", {{angularData|default:'""'|safe}} )
.value( "frsc", "{{ frsc }}" )
</script>
{% endblock js %}


{% block    script %}
{% endblock script %}


</div>  <!-- container -->
{% endblock body %}

<script src="/static/js/feedback/questionnaire.js"></script>
<script src="/static/js/feedback/validators.js"></script>

{% block    postblockbody %}
{% endblock postblockbody %}

<div id='spinner' style='display:none; position:absolute; top: 10%; left:49%;'>
    <i class="fa fa-refresh fa-spin fa-3x fa-fw" style='color:blue'></i>
</div>

</body>
</html>
