.inline {
    display:inline;
}
.inline-block {
    display:inline-block;
}
.link-no-underline {
    text-decoration:none;
    color:inherit;
}

.errorlist {
    color:red;
    font-weight:bold;
}
ul.errorlist li:only-child {
    list-style-type:none;
    margin-left:-40px;
}

.no-border {
    border:none;
}
textarea.ng-invalid.ng-dirty,
input.ng-invalid.ng-dirty {
    background-color:Pink;
}
.cursor-pointer {
    cursor:pointer;
}
.bigger {
    font-size:1.5em;
}
.font-weight-normal {
    font-weight:normal;
}

.width-1-5em        { width:1.5em !important; }
.width-2em          { width:2em   !important; }
.width-2-5em        { width:2.5em !important; }
.width-3em          { width:3em   !important; }
.width-3-5em        { width:3.5em !important; }
.width-4em          { width:4em   !important; }

.no-padding         { padding:       0      !important; }
.padding            { padding:       0.5em  !important; }
.padding-1          { padding:       1em    !important; }
.padding-horizontal { padding-left:  0.5em  !important;
                      padding-right: 0.5em  !important; }
.padding-vertical   { padding-top:   0.5em  !important;
                      padding-bottom:0.5em  !important; }
.no-padding-right   { padding-right: 0      !important; }
.no-padding-left    { padding-left:  0      !important; }
.no-padding-top     { padding-top:   0      !important; }
.no-padding-bottom  { padding-bottom:0      !important; }
.padding-right      { padding-right: 0.5em  !important; }
.padding-left       { padding-left:  0.5em  !important; }
.padding-top        { padding-top:   0.5em  !important; }
.padding-bottom     { padding-bottom:0.5em  !important; }
.padding-right-1    { padding-right: 1em    !important; }
.padding-left-1     { padding-left:  1em    !important; }
.padding-top-1      { padding-top:   1em    !important; }
.padding-bottom-1   { padding-bottom:1em    !important; }

.no-margin          { margin:        0      !important; }
.margin             { margin:        0.5em  !important; }
.margin-1           { margin:        1em    !important; }
.no-margin-right    { margin-right:  0      !important; }
.no-margin-left     { margin-left:   0      !important; }
.no-margin-top      { margin-top:    0      !important; }
.no-margin-bottom   { margin-bottom: 0      !important; }
.margin-right       { margin-right:  0.5em  !important; }
.margin-left        { margin-left:   0.5em  !important; }
.margin-top         { margin-top:    0.5em  !important; }
.margin-bottom      { margin-bottom: 0.5em  !important; }
.margin-right-1     { margin-right:  1em    !important; }
.margin-left-1      { margin-left:   1em    !important; }
.margin-top-1       { margin-top:    1em    !important; }
.margin-bottom-1    { margin-bottom: 1em    !important; }

.color-initial      { color:initial;        }
.color-inherit      { color:inherit;        }
.color-grey         { color:grey;           }
.color-dimgrey      { color:dimgrey;        }
.color-silver       { color:silver;         }
.color-lightgrey    { color:lightgrey;      }

