<div class="modal fade" id="colorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{ $ctrl.modalTitle }}</h4>
            </div>   <!-- modal-header -->

            <div class="modal-body text-center">
                <div ng-repeat="colorList in $ctrl.colors">
                    <span ng-repeat="color in colorList"
                        class="{{color[0]}}"
                        ng-click="$ctrl.update({ color: color[1] })"
                        ng-style="{'background-color':color[1]}"
                        title="{{color[0]}}: {{color[1]}}"
                        style="
                            line-height:1em;
                            margin:0.25em;
                            width:2.25em;
                            display:inline-block;
                        "
                    >
                        &emsp; &emsp;
                    </span>
                </div>
            </div>  <!-- modal-body -->

        </div>  <!-- modal-content -->
    </div>      <!-- modal-dialog -->
</div>          <!-- modal -->