<form id="{{ (name)? 'form-'+name : 'form-delete' }}" action="{{ action || 'delete/' }}" method="post">
<input type='hidden' name='csrfmiddlewaretoken' ng-value='csrftoken'>

<div class="modal fade" id="{{ (name)? 'modal-'+name : 'modal-delete' }}">
<div class="modal-dialog modal-sm">
<div class="modal-content">

    <div class="modal-header bg-danger">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-center" ng-bind="title || 'Delete'"></h4>
    </div>

    <div class="modal-body text-center">
        <p ng-bind="text || 'Please confirm deletion.'"></p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success pull-left"  data-dismiss="modal">Don't Delete</button>
        <button type="submit" class="btn btn-danger  pull-right" onclick="$('#form-delete').submit();">Delete</button>
    </div>

</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</form>
