{% extends "questionnaire/default.html" %}

{% block questionnaire_style_footer %}
<style>

body {
    background-color: #EEEEEE;
}
.panel {
    box-shadow: 2em 2em 2em 0 silver;
    margin-bottom: 3em !important;
    background-color: rgb(121,85,72);
    border: transparent;
    padding: 0 !important;
}
.panel-heading {
    margin-top: -1em !important;
    padding: 1em !important;
    padding-bottom: 1.5em !important;
    border-bottom: solid thin silver !important;
}
.panel-title {
    color: white;
}
.panel-body {
    padding: 2em !important;
    margin: -1em !important;
    background-color: white;
    color: black;
}
.panel-body * {
    color: black;
}
.question-container {
    padding: 0 1em;
}

.submit-button1 {
    margin-top: 3em;
}
.well {
    background-image: none;
    background-color: white;
}


.minus-margin-top {
    /* overide */
    margin-top: initial !important;
    padding: 0.5em 0.5em 0 0.5em;
}
.question-container--label {
    padding-top: 0.5em !important;
    padding-bottom: 0 !important;
}
.div-question--hidden {
    position:absolute;;
    top:-9999px;
}
.panel-heading--checkbox {
    border-bottom: none !important;
    padding-bottom: 0 !important;
}
.question-container--checkbox {
    padding-top: 2em !important;
    padding-bottom: 0 !important;
}
.label--checkbox {
    margin-bottom: 0 !important;
}


.panel-body {
    color: {{ colors.color_font }};
}
.panel-body * {
    color: {{ colors.color_font }};
}
.panel-title {
    color: {{ colors.color_question }};
}
.panel {
    background-color: {{ colors.color_accent }};
}

</style>

{% endblock questionnaire_style_footer %}



{% block    header %}

<div class="
    div-header
    col-xs-12   col-xs-offset-0
    col-md-8    col-md-offset-2
    col-lg-6    col-lg-offset-3"
>
    <a href="http://www.newcreation.org.sg/" title="New Creation Church">
        {% block img-logo %}
        <img class="brand-logo pull-left" src="/static/img/logo.png">
        {% endblock img-logo %}
    </a>
    <!--<br clear="all">-->

    <h4
        class="questionnaire-title text-center"
        style="margin:1.5em; margin-left:0;"
    >
        {{title}}
    </h4>
</div>

{% endblock header %}



{% block div-content %}
<div class="
    col-xs-12   col-xs-offset-0
    col-md-8    col-md-offset-2
    col-lg-6    col-lg-offset-3"
>
{% endblock div-content %}
