{% extends "questionnaire/default.html" %}


{% block    questionnaire_style_footer %}
<style>
body {
    background-color: white;
}
#next {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #19a9b2;
    border: solid thin grey;
    width: 100%;
    padding: 0.5em;
}
.prev>a {
    font-size: 14px;
    text-decoration: underline;
}
.prev {
    margin-top: 1em;
}


.panel-body {
    color: {{ colors.color_font }};
}
.panel-body * {
    color: {{ colors.color_font }};
}
.panel-title {
    color: {{ colors.color_question }};
}
#next {
    background-color: {{ colors.color_accent }};
}

</style>
{% endblock questionnaire_style_footer %}


{% block questionnaire_footer %}

<!-- pager -->
{% verbatim %}
<section class="text-center">
    <button
        id="next"
        href="#"
        class="button next"
        ng-if="project.consent_page || ( !project.consent_page && pageinfo.current_page < pages.length )"
        current-page="{{$index}}"
        gn-go-next
        ng-show="!submitted"
    >
        Next
    </button>

    <div class="text-center prev">
        <a
            href="#"
            class="previous margin-top"
            ng-hide="$first"
            gn-go-prev
        >
            Previous
        </a>
    </div>

    <div class="next" ng-if="!project.consent_page && pageinfo.current_page == pages.length" ng-show="!submitted">
        <a class="btn btn-success" href="#" gn-go-next current-page="{{$index}}">Submit</a>
    </div>
</section>
{% endverbatim %}

{% endblock questionnaire_footer %}



{% block questionnaire_consent_footer %}
<ul class="pager text-center">
    <div class="text-center prev">
        <a
            href="#"
            class="previous margin-top"
            ng-hide="$first"
            gn-go-prev
        >
            Previous
        </a>
    </div>
{% endblock questionnaire_consent_footer %}

