{% extends "base.html" %}
{% load static %}

{% block header %}
{% endblock header %}


{% block content %}

<style>
body {
    background-color: #EEEEEE;
}
.div__login {
    background-color: #FFFFFF;
    padding: 1em;
    padding-top: 2em;
    box-shadow: 3em 3em 5em silver;
}
.error {
    color: red;
}
</style>


<div class="container" style="margin-top:15%;">
<div class="row">
<div class="div__login col-xs-12 col-sm-4 col-sm-offset-4">

<div class="text-center" style="padding-bottom:2em;">
    <img src="{% static '/img/logo.png' %}">
</div>

<form id="LoginForm" role="form" method="post" action=".">
    <div style="padding: 1em;">

        {% if form.errors %}
            <p class="error">Sorry, that's not a valid username or password</p>
        {% endif %}

        <div class="form-group">
            <label for="username">User ID</label>
            <input type="text" class="form-control" name="username" value="" id="username" placeholder="Enter ID" required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" value="" id="password" placeholder="Password" required>
        </div>

        <button type="submit" class="btn btn-success pull-left">Login</button>
        <a href="{% url 'custom_password_reset' %}" class="pull-right">Forgot Password</a>
        <input type="hidden" name="next" value="{{ next|escape }}">

    </div>

    <br clear="all"><br>

    <div class='hide' style="padding-left: 0.75em;">
        <hr style="margin:1em 0; border-color:silver;">
        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.GET.next }}" title="Log in with Google">
            <img width="35" src="{% static '/img/google-plus-app-icon.jpeg' %}"
        ></a>
        <span>Log in with Google<span>
    </div>

    {% csrf_token %}
</form>

</div>
</div>
</div>

{% endblock content %}

